body {
	padding-top: 1px;
}

body {
	color: #111;
	font-family: "Lucida grande", Verdana, Helvetica;
	-webkit-font-smoothing: antialiased;
	font-size: 0.85em;
	/*background: url(../../images/paper.png) top left repeat;*/
}

h1, h2, h3 {
	margin-left: 15px;
}